@using Guet.DataAccess;
@using Guet.Entities.Site;
@using Guet.Entities.ApplicationOrganization;
@using Guet.ViewModels.ApplicationOrganization;
@using Microsoft.AspNetCore.Identity;
@inject IEntityRepository<SiteSetting> _siteSettingRepository;
@inject UserManager<ApplicationUser>  _userManager;

@{
    var siteInfo = await _siteSettingRepository.GetAllAsyn();
    var siteInfoVM = siteInfo.FirstOrDefault();
    bool hasLogin = string.IsNullOrEmpty(User.Identity?.Name) ? false : true;
    ApplicationUserVM userVM = null;
    if (hasLogin)
    {
        var user = await _userManager.FindByNameAsync(User.Identity?.Name);
        userVM = new ApplicationUserVM(user);
        var isAdmin = await _userManager.IsInRoleAsync(user, ApplicationRoleNameEnum.Admin.ToString());
        userVM.IsAdmin = isAdmin;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @siteInfoVM.Title</title>
    <meta name="keywords" content="@siteInfoVM.Keywords" />
    <meta name="description" content="@siteInfoVM.Description"/>
    <meta name="author" content="@siteInfoVM.Copyright"/>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
        <link rel="stylesheet" href="~/lib/wangEditor-3.1.1/release/wangEditor.min.css" />
        <link rel="stylesheet" href="~/lib/swiper-5.2.0/swiper.css" />
        <link rel="stylesheet" href="~/frame/index/Common/base.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/frame/index/Header/header.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/frame/index/Footer/footer.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/frame/index/Home/home.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/frame/index/Article/article.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/frame/index/Search/search.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
        <link rel="stylesheet" href="~/frame/admin/css/animate.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/frame/admin/css/materialdesignicons.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/wangEditor-3.1.1/release/wangEditor.min.css" />
        <link rel="stylesheet" href="~/lib/swiper-5.2.0/swiper.css" />
        <link rel="stylesheet" href="~/frame/index/Common/base.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/frame/index/Header/header.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/frame/index/Footer/footer.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/frame/index/Home/home.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/frame/index/Article/article.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/frame/index/Search/search.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

        @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>
</head>
<body>
    <header class="home-header">
        <div class="container">
            <div class="layui-row">
                <div class="layui-col-md2">
                    <a class="header-title" href="/" title="@siteInfoVM.Title">
                        @if (siteInfoVM.UseImgLogo)
                        {
                            <img id="TitleImage" class="title-logo" src="@siteInfoVM.Logo" alt="">
                        }
                        else
                        {
                            <span id="TitleText" class="title-text">@siteInfoVM.Title</span>
                        }
                    </a>
                </div>
                <div class="layui-col-md7">
                    <div class="layui-row header-navs nav-list text-center">
                        <div class="layui-col-md2 nav-item" data-name="home" data-height="1940"><a href="/Home/Index" class="link" title="">首页</a></div>
                        <div class="layui-col-md2 nav-item" data-name="articles" data-height="2000"><a href="/Home/Articles" class="link" title="">文章</a></div>
                        <div class="layui-col-md2 nav-item" data-name="friendlinks" data-height="600"><a href="/Home/FriendLinks" class="link" title="">友情链接</a></div>
                        <div class="layui-col-md2 nav-item display-none" data-name="message" data-height="600"><a href="/Home/LeavingMessage" class="link" title="">留言板</a></div>
                        <div class="layui-col-md2 nav-item" data-name="about" data-height="810"><a href="/Home/About" class="link" title="">关于我</a></div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="header-user layui-row">
                        <div class="layui-col-md10  to-login-btns nav-list @(hasLogin?"display-none":"")" style="text-align:right;">
                            <a id="ToLoginBtn" class="to-login nav-item" data-name="login" data-height="594" href="javascript:" title="登录">登录</a>
                            <span class="split-line ">丨</span>
                            <a id="ToRegisterBtn" class="to-register nav-item " data-name="register" data-height="594" href="javascript:" title="注册">注册</a>
                        </div>
                        <div class="layui-col-md10 has-login-btns @(hasLogin?"":"display-none")">
                            <div class="layui-row">
                                <div class="layui-col-md5">
                                    <a class="has-login-nickname" href="/Admin/Index" data-name="user" data-height="600" title="@userVM?.NickName">
                                        <img class="has-login-avatar" src="@userVM?.Avatar" alt="">
                                    </a>
                                </div>
                                <div class="layui-col-md5">
                                    @if (hasLogin)
                                    {
                                        @if (userVM.IsAdmin)
                                        {
                                            <a class="has-login-nickname admin" data-userid="@userVM?.Id" href="/Admin/Index" data-name="user" data-height="600" title="后台管理">
                                                后台管理
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="has-login-nickname user" data-userid="@userVM?.Id" href="javascript:" data-name="user" data-height="600" title="@userVM?.NickName">
                                                @userVM?.NickName
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <a class="has-login-nickname admin" data-userid="" href="/Admin/Index" data-name="user" data-height="600" title="后台管理">后台管理</a>
                                        <a class="has-login-nickname user" data-userid="" href="javascript:" data-name="user" data-height="600" title=""> </a>
                                    }
                                </div>
                                <div class="layui-col-md2">
                                    <a id="ToLogoutBtn" class="text-danger has-login-to-logout" href="javascript:" title="注销操作">注销</a>
                                </div>
                            </div>
                        </div>
                        @*<div id="SearchContainer" class="@(hasLogin?"layui-col-md2":"layui-col-md12") text-right">*@
                        <div id="SearchContainer" class="layui-col-md2" style="text-align:right">
                            <a class="show-search" id="ShowSearchBtn" title="搜索" href="javascript:">
                                <i class="layui-icon layui-icon-search" style="font-size:18px;"></i>
                                @*<span class="@(hasLogin?"display-none":"")">文章搜索</span>*@
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="home-body">
        <div class="home-search container" id="HomeSearch">
            <form class="input-group search-container">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="text" name="HomeSearchInput" id="HomeSearchInput" placeholder="搜索文章..." autocomplete="off" class="layui-input home-search-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux blog-search-btns">
                        <button id="HomeToSearchBtn" class="layui-btn  home-search-btn" title="立即搜索" type="button">搜 索</button>
                    </div>
                </div>
            </form>
            <span id="HomeCloseSearchBtn" class="close-search-container" title="关闭搜索"> +  </span>
        </div>
        @RenderBody()
    </main>
    <footer class="home-footer">
        <div class="container">
            <div class="layui-row">
                <div class="layui-col-md12 text-center">
                    Copyright © @siteInfoVM.CreateTime.ToString("yyyy") <a href="/">@siteInfoVM.Title</a> @siteInfoVM.Copyright All Rights Reserved.
                    @(string.IsNullOrEmpty(siteInfoVM.ICP) ?"": "丨备案号："+ siteInfoVM.ICP)
                </div>
                <div class="layui-col-md12 text-center">
                    <p style="margin-top:30px;">@Html.Raw(siteInfoVM.Statistics)</p>
                </div>
            </div>
            <div class="layui-row display-none">
                <div class="layui-col-md2">
                    <div class="footer-qrcode text-center">
                        <img src="~/images/qrCode/qrcode.png" alt="">
                        <p>关注公众号</p>
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="footer-qrcode text-center">
                        <img src="~/images/qrCode/qrcode.png" alt="">
                        <p>关注公众号</p>
                    </div>
                </div>
                <div class="layui-col-md8">
                    <h4 class="footer-notice">站点声明：</h4>
                    <p>1、本站为个人毕设。</p>
                    <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：studio@925i.cn</p>
                    <p>Copyright © www.925i.cn All Rights Reserved. 备案号：<a href="javascript:" class="footer-bei-an">这里填写备案号</a></p>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/layui/layui.all.js"></script>
        <script src="~/lib/swiper-5.2.0/swiper.js"></script>
        <script src="~/lib/wangEditor-3.1.1/release/wangEditor.js" asp-append-version="true"></script>
        <script src="~/frame/index/Common/base.js" asp-append-version="true"></script>
        <script src="~/frame/index/Search/search.js" asp-append-version="true"></script>
        <script src="~/frame/index/Header/header.js" asp-append-version="true"></script>
        <script src="~/frame/index/Footer/footer.js" asp-append-version="true"></script>
        <script src="~/frame/index/Home/home.js" asp-append-version="true"></script>
        <script src="~/frame/index/Article/article.js" asp-append-version="true"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>


    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/layui/layui.all.js"></script>
        <script src="~/lib/swiper-5.2.0/swiper.js"></script>
        <script src="~/lib/wangEditor-3.1.1/release/wangEditor.js" asp-append-version="true"></script>
        <script src="~/frame/index/Common/base.js" asp-append-version="true"></script>
        <script src="~/frame/index/Search/search.js" asp-append-version="true"></script>
        <script src="~/frame/index/Header/header.js" asp-append-version="true"></script>
        <script src="~/frame/index/Footer/footer.js" asp-append-version="true"></script>
        <script src="~/frame/index/Home/home.js" asp-append-version="true"></script>
        <script src="~/frame/index/Article/article.js" asp-append-version="true"></script>
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
