
@using Guet.ViewModels.Blogs;
@model List<ArticleVM>;

@{
    Layout = "_layoutIndex";
    ViewData["Title"] = ViewBag.ArticleTitle + "博客文章";
}
<section class="articles-container container">
    <!-- 文章列表 -->
    <div class="layui-row">
        <div class="layui-col-md9 padding-lr padding-l-none">
            <div class="l layui-tab layui-tab-brief bg-white blog-relative">
                <ul class="layui-tab-title tz-tabs">
                    <li class="layer-tab-item layui-this">文章列表</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show articles-list">
                        <ul id="ArticlesList">
                            <li style="padding: 200px 0; text-align: center; font-weight: 700;" class="articles-item-line margin-top-xs padding-bottom">文章正在加载中...！</li>
                            @{
                                if (false)
                                {
                                    if (Model == null || Model.Count <= 0)
                                    {
                                        <li style="padding: 200px 0; text-align: center; font-weight: 700;" class="articles-item-line margin-top-xs padding-bottom">文章正在加载中...！</li>
                                    }
                                    else
                                    {
                                        foreach (var item in Model)
                                        {
                                            <li class="articles-item-line margin-top-xs padding-bottom">
                                                <a href="/Home/ArticleDetail/@item.Id">
                                                    <div class="layui-row articles-item">
                                                        <div class="layui-col-md12">
                                                            <div class="layui-row articles-item-content padding">
                                                                <div class="layui-col-md4 articles-item-cover">
                                                                    <img src="@(!string.IsNullOrEmpty(item.Cover)?item.Cover:"../../images/main/article_image_001.jpg")" title="12323" alt="@item.Cover">
                                                                    <span class="article-item-category">@(string.IsNullOrEmpty(item.Category?.Name)?"该文章没有分类": item.Category?.Name)</span>
                                                                </div>
                                                                <div class="layui-col-md8 articles-list-items">
                                                                    <div class="layui-row">
                                                                        <div class="layui-col-md12">
                                                                            <span class="layui-btn layui-btn-xs is-original">@(item.IsOwn?"原创":"转载")</span>
                                                                            <a href="javascript:" title="@item.Title" class="articles-item-title margin-t-none">@item.Title</a>
                                                                        </div>
                                                                        <div class="layui-col-md12 articles-item-description">
                                                                            <p> @item.Abstract </p>
                                                                        </div>
                                                                        <div class="layui-col-md12">
                                                                            <div class="layui-row">
                                                                                <div class="layui-col-md8">
                                                                                    <img title="官方认证：站长" class="articles-item-avatar margin-right" src="@item.User?.Avatar" alt="">
                                                                                    <span>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                                                                    <span>【 <a class="" href="/Home/Category/@item.Category?.Id" target="_blank">@(string.IsNullOrEmpty(item.Category?.Name)?"该文章没有分类": item.Category?.Name)</a>】</span>
                                                                                </div>
                                                                                <div class="layui-col-md4 text-right">
                                                                                    <a href="/Home/ArticleDetail/@item.Id" class="to-article-detail layui-btn layui-btn-xs">阅读更多</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 文章分页 -->
            <div class="layui-row text-center">
                <div class="layui-col-md12">
                    <div class="padding-top layer-3-pagination bg-white">
                        <div id="PaginationArticleContainer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="article-right-content">
                @await Component.InvokeAsync("LabelsVC");
            </div>
        </div>
    </div>

</section>

@section Scripts{
    <script>

        function getArticles(param) {
            $.ajax({
                url: "/Home/GetArticles",
                type: "post",
                data: { index: param.curr, limit: param.limit },
                dataType: "json",
                success: function (res) {
                    var t = '';
                    if (res.length <= 0) {
                        t = `<li style="padding: 200px 0; text-align: center; font-weight: 700;" class="articles-item-line margin-top-xs padding-bottom">没有搜索到相关的文章！</li>`;
                    }
                    else {
                        res.forEach((item, index) => {
                            console.log(item)
                            t += `
                                                        <li class="articles-item-line margin-top-xs padding-bottom">
                                                                            <a href="/Home/ArticleDetail/${item.id}">
                                                                                <div class="layui-row articles-item">
                                                                                    <div class="layui-col-md12">
                                                                                        <div class="layui-row articles-item-content padding">
                                                                                            <div class="layui-col-md4 articles-item-cover">
                                                                                                <img src="${item.cover}" title="${item.title}" alt="${item.title}">
                                                                                                <span class="article-item-category">${item.category.name}</span>
                                                                                            </div>
                                                                                            <div class="layui-col-md8 articles-list-items">
                                                                                                <div class="layui-row">
                                                                                                    <div class="layui-col-md12">
                                                                                                        <span class="layui-btn layui-btn-xs is-original">${item.isOwn ? "原创" : "转载"}</span>
                                                                                                        <a href="/Home/ArticleDetail/${item.id}" title="${item.title}" class="articles-item-title margin-t-none">${item.title}</a>
                                                                                                    </div>
                                                                                                    <div class="layui-col-md12 articles-item-description">
                                                                                                        <p> ${item.abstract}</p>
                                                                                                    </div>
                                                                                                    <div class="layui-col-md12">
                                                                                                        <div class="layui-row">
                                                                                                            <div class="layui-col-md8">
                                                                                                                <img title="官方认证：站长" class="articles-item-avatar margin-right" src="${item.user.avatar === null ? "/images/defaultAvatar.jpg" : item.user.avatar}" alt="">
                                                                                                                <span>${item.cTime}</span>
                                                                                                                <span>【 <a class="" href="/Home/Category/${item.category.id}" target="_blank">${item.category.name}</a>】</span>
                                                                                                            </div>
                                                                                                            <div class="layui-col-md4 text-right">
                                                                                                                <a href="/Home/ArticleDetail/${item.id}" class="to-article-detail layui-btn layui-btn-xs">阅读更多</a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                            `;
                        });
                        $("#ArticlesList").html(t);
                    }
                },
                fail: function () {
                    alert(res.msg);
                }
            })
        };
        function initArticlesCount() {
            $.ajax({
                url: "/Home/GetArticleCount",
                type: "post",
                dataType: "json",
                success: function (res) {
                    layui.use(['element', 'laypage'], function () {
                        var element = layui.element,
                            laypage = layui.laypage;
                        laypage.render({
                            elem: 'PaginationArticleContainer',
                            count: res.count, //从后台获取值
                            layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip'],
                            jump: function (obj) {
                                getArticles(obj);
                            }
                        });

                    })
                },
                fail: function () {
                    alert("请求错误");
                }
            })

        }
        window.onload = function () {
            initArticlesCount();
        }
    </script>
}